 <% include ../partials/header%>
<div class = "container">
    <div class = "row">
        <div class = "col-md-3">
            <p class = "lead">YelpCamp</p>
            <div class = "list-group">
                <li class = "list-group-item active">Info 1</li>
                <li class = "list-group-item ">Info 2</li>
                <li class = "list-group-item ">Info 3</li>
            </div>
            <div id  = "map" style = "width: 100%;height: 300px;background-color: grey;">
                
            </div>
        </div>
        <div class = "col-md-9">
            <div class = "thumbnail">
                <img class = "image-responsive"  src = "<%= camp.image%>">
                <div class = "caption-full">
                    <h4 class = "pull-right"> $9.00/night</h4>
                    <h4><a><%=camp.name%></a></h4>
                    <p><%= camp.description%></p>
                    <p>Submitted By <%= camp.author.username%></p>
                    <% if(currentUser && camp.author.id.equals(currentUser._id)){ %>
                        <a class = "btn btn-xs btn-warning "href = "/campgrounds/<%= camp._id%>/edit">Edit</a>
                        <form  class = "delete-form" action = "/campgrounds/<%= camp._id%>?_method=DELETE" method = "POST">
                            <button class = "btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>   
                </div>
            </div>
            <div class ="well">
                
                <div class = "text-right">
                    <a class = "btn btn-info "href = "/campgrounds/<%= camp._id%>/comments/new">Add a comment</a>
                </div>
                <hr>
                <% camp.comments.forEach(function(comment){ %>
                    <div class = "row">
                        <div class = "col-md-12">
                            <strong>
                                <%= comment.author.username  %>
                            </strong>
                            <span class = "pull-right">10 days ago</span>
                            <p>
                                <%= comment.text%>
                            </p>
                             <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a href = "/campgrounds/<%= camp._id%>/comments/<%= comment._id%>/edit" class = "btn btn-xs btn-warning">Edit</a>
                                <form  class = "delete-form" action = "/campgrounds/<%= camp._id%>/comments/<%= comment._id%>?_method=DELETE" method = "POST">
                                    <button class = "btn btn-xs btn-danger" >Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% })%>
            </div>
        </div>
    </div>
</div>
<script>
    function initMap(){
	var options = {
		zoom: 1,
		center : {lat: 22.798507, lng: 75.8563798}
	}
	var map = new 
	google.maps.Map(document.getElementById('map'),options);
	
	var markers = [
  {
    coords:{lat : 22.84812355,lng : 75.95492},
    iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
    content:'Astitva nivas<br>9009988889'
    },
    {
    coords:{lat: 37.0902, lng: 95.7129}
    },
    {
    coords:{lat:61.5240,lng:105.3188},
    iconImage : 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
    content:'umeed nivas<br>7708842433'
    },
    {
    coords:{lat:55.7558,lng:37.6173},
    iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
    content:'tarang nivas<br>8802706924'
    },
    {
    coords:{lat:8.7832,lng:34.5085},
    iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
    content:'krishna nivas<br> 8152343421' 
    },
    {
    coords:{lat:54.5260,lng:15.2551},
    iconImage :'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
    content:'roshini nivas<br>7312550823'
    }];
      addMarker(markers[Math.floor(Math.random() * 5)]);

	function addMarker(props){
     var marker = new google.maps.Marker({
        position :props.coords,
        map : map,
        icon:props.iconImage
      });}
//       if(props.content){
//       var infoWindow = new google.maps.InfoWindow({
//         content: props.content
//       });
//       marker.addListener('click',function(){
//         infoWindow.open(map,marker);
//       });
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkEhvvnPU0UcGbxqF2y5aI3vYN1jtBKIE&callback=initMap">
</script>


<a class = "btn btn-info "href = "/campgrounds">Go back</a>
<% include ../partials/footer%>